<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"  xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/mvc
		http://www.springframework.org/schema/mvc/spring-mvc.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/aop
		http://www.springframework.org/schema/aop/spring-aop.xsd
		http://www.springframework.org/schema/tx
		http://www.springframework.org/schema/tx/spring-tx.xsd">

	<!-- 组件扫描，扫描controller -->
	<context:component-scan base-package="com.xzcoder.kaoshi.admin.controller"></context:component-scan>
	<context:component-scan base-package="com.xzcoder.kaoshi.user.controller"></context:component-scan>
	<context:component-scan base-package="com.xzcoder.kaoshi.common.controller"></context:component-scan>

	<!-- 注解处理器映射器、适配器 -->
	<mvc:annotation-driven conversion-service="conversionService">
	</mvc:annotation-driven>

	<!-- 视图解析器 -->
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/jsp/" />
		<property name="suffix" value=".jsp" />
	</bean>

	<!-- 自定义参数绑定 -->
	<bean id="conversionService" class="org.springframework.format.support.FormattingConversionServiceFactoryBean">
		<!-- 转换器 -->
		<property name="converters">
			<!-- 日期类型转换 -->
			<bean class="com.xzcoder.kaoshi.admin.controller.convert.DateConvert"></bean>
		</property>
	</bean>

	<!-- 静态资源解析
	包括：js、css、img、...
	-->
	<mvc:resources location="resources/" mapping="/resources/**"></mvc:resources>
	<mvc:resources location="resources/js/" mapping="/resources/js/**"></mvc:resources>
	<mvc:resources location="resources/img/" mapping="/resources/img/**"></mvc:resources>
	<mvc:resources location="file:${kaoshi.ueditor-root-path:}upload/" mapping="/upload/**"></mvc:resources>
	<mvc:resources location="file:${kaoshi.pic-path}" mapping="/pic/**"></mvc:resources>

	<!-- 文件上传 -->
	<bean id="multipartResolver"
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<!-- 设置文件上传最大尺寸为5MB -->
		<property name="maxUploadSize" value="5242880" />
	</bean>

	<!-- 校验器 -->
	<bean id="validator" class="org.springframework.validation.beanvalidation.LocalValidatorFactoryBean">
		<!-- 校验器 -->
		<property name="providerClass" value="org.hibernate.validator.HibernateValidator" />
		<!-- 指定校验使用的资源文件，如果不指定则默认使用classpath下的ValidationMessages.properties -->
		<property name="validationMessageSource" ref="messageSource"></property>
	</bean>
	<!-- 校验错误信息配置文件 -->
	<bean id="messageSource" class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
		<!-- 资源文件名 -->
		<property name="basenames">
		<list>
			<value>classpath:ValidationMessages</value>
		</list>
		</property>
		<!-- 资源文件编码格式 -->
		<property name="fileEncodings" value="utf-8" />
		<!-- 对资源文件内容缓存时间，单位秒 -->
		<property name="cacheSeconds" value="120" />
	</bean>

	<!-- 拦截器 -->
	<mvc:interceptors>
		<!-- 多个拦截器，顺序执行 -->
		<!-- 登陆认证拦截器 -->
		<mvc:interceptor>
			<mvc:mapping path="/**"/>
			<mvc:exclude-mapping path="/resources/**"/>
			<mvc:exclude-mapping path="/upload/**"/>
			<mvc:exclude-mapping path="/pic/**"/>
			<bean class="com.xzcoder.kaoshi.interceptor.LoginInterceptor"></bean>
		</mvc:interceptor>
	</mvc:interceptors>

	<!-- 全局异常处理器
	只要实现HandlerExceptionResolver接口就是全局异常处理器
	-->
	<!-- <bean class="exception.com.xzcoder.kaoshi.CustomExceptionResolver"></bean> -->

</beans>
