<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xzcoder.kaoshi.admin.mapper.StBianchengMapper">

	<!--
		sql片段
	 -->

	<!--
		ResultMap：输出映射
	-->
	<resultMap type="com.xzcoder.kaoshi.po.ExamStBianchengCustom" id="StBianchengResultMap">
		<id column="question_id" property="questionId"/>
		<result column="title" property="title"/>
		<result column="detail" property="detail"/>
		<result column="score" property="score"/>
	</resultMap>


	<!--
		statement
	 -->
	<insert id="insertStBiancheng" parameterType="com.xzcoder.kaoshi.po.ExamStDuoxuanCustom">
		INSERT INTO exam_st_biancheng(question_id, title, detail)
		VALUE(#{questionId}, #{title}, #{detail})
	</insert>

	<select id="getBianchengById" parameterType="Integer" resultMap="StBianchengResultMap">
		SELECT * FROM exam_st_biancheng
		<where>
			question_id = #{value}
		</where>
	</select>

	<update id="updateStBiancheng" parameterType="com.xzcoder.kaoshi.po.ExamStDuoxuanCustom">
		UPDATE exam_st_biancheng
		SET title = #{title},
		detail = #{detail}
		<where>
			question_id = #{questionId}
		</where>
	</update>

	<delete id="deleteStBianchengById" parameterType="Integer">
		DELETE FROM exam_st_biancheng where question_id = #{value}
	</delete>

</mapper>
